link.mode=SOURCE
connection.mode=OUTBOUND

bootstrap.servers=<CC-BOOTSTRAP-SERVER>
ssl.endpoint.identification.algorithm=https
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='KEY1KEY1KEY1KEY1' password='SECRET1SECRET1SECRET1SECRET1SECRET1SECRET1SECRET1SECRET1SECRET1';

local.listener.name=SASL_PLAINTEXT
local.security.protocol=SASL_PLAINTEXT
local.sasl.mechanism=SCRAM-SHA-512
local.sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="cp-to-cloud-link" password="1LINK2RUL3TH3MALL";